extends layout

block content
    h2 Delete Category

    if items.length
        h3 #{category.type} has the following items:
        ul
            each item in items
                li= item.item_name
                    br
                    a(href=`${item.url}/delete`) Delete this item
        h3 You must delete these items before deleting the category.
    else
        h3 Are you sure you want to delete  this category: #{category.type}?
        form(method='POST')
            input(type='hidden',name='id', value=category._id )
            button(type='submit') Delete