extends layout

block content 
  .container 
    h2.title= title
    ul.category-list
      each category in categories
        li.category
          h4.category-name= category.type
          div.category-buttons
            a.button.view(href=`/store/category/${category._id}`) View
            a.button.update(href=`${category.url}/update`) Update
            a.button.delete(href=`${category.url}/delete`) Delete

  div.create
    a.button(href="/store/category/create") Create a new category