extends layout

block content
  .header
    h2.title= category.type 
    a.button.c-delete(href=`${category.url}/delete`) Delete Category
  ul.category-item-list
    each item in category_items
      li.item
        img(src=item.imageURL, alt=item.item_name)
        h3.item-name= item.item_name
        p.item-description= item.description
        p.item-price Rs: #{item.price}
        a.button(href=item.url) View Item        
  .add
    a.button(href="/store/item/create") Add item    
