extends layout

block content
    .header
        h2.title= item.item_name
        a.button.i-delete(href=`${item.url}/delete`) Delete Item
    .item-detail
        .item-showcase 
            img(src='/images/sample.jpg', alt=item.item_name)
            p.item-description= item.description
        p.item-price Rs: #{item.price}
        .button-group 
            a.button.update(href=`${item.url}/update`) Update Item
            a.button(href="/store/item/create") Add Item
            a.button.back(href="/store") Back to Store