extends layout

block content
    .header
        h2.title Delete Item

    if errors
        ol.error-modal
            for error in errors
                li.validation-error!= error.msg

    .stock-info
        if item.stock_in_hand
            p.warning You cannot delete an item that is in stock. Please update the stock to 0 before deleting the item. 
        else
            p.warning Are you sure you want to delete this item?
            p.warning This action cannot be undone.
            form.stock-delete-action(method='POST')
                input(type="text", name="id", value=item._id, hidden="hidden")
                label(for="password") Enter your password to confirm:
                input#password.form-control(type='password', name='password')
                .button-group
                    button.button.submit(type='submit') Delete
                    a.button.cancel(href=`/store/item/${item._id}`) Cancel

    .item
        if item.stock_in_hand
            h3.item-name= item.item_name
            p.item-description= item.description
            p.item-price Rs: #{item.price}
            p.item-stock-in-hand Stock in Hand: #{item.stock_in_hand}
            p.item-category Category: #{item.category.type}
            a.button(href=`/store/item/${item._id}/stock_in_hand`) Update Stock
